/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/10/2019, 14:54:21
    Author     : Ochaus
*/
@charset "utf-8";
body {

}

.subTitulo{
    font-family: monospace;
    color: black;
    text-align: center;
    font-size: 25px;
    display: block;
}
.subTitulo1{
    font-family: monospace;
    color: black;
    text-align: center;
    font-size: 16px;
    display: block;
}
.campoID{
    width: 80px;
}
.campoNome{
    width: 250px;
}
.campoPrecoCompra{
    width: 100px;
}
.campoPrecoVenda{
    width: 100px;
}
.campoDescricao{
    width: 250px;
}
.campoEditar{
    width: 120px;
}
.campExcluir{
    width: 120px;
}
.tabelaListagem{
    padding: 12px;
    float: left; 
    position: absolute; 
    left: 50%; 
    top: 65%; 
    margin-right: -50%;
    transform: translate(-50%,-65%);
}
.tabelaLista{
    overflow: scroll;  
    height: 300px;
}

.campoBuscas{
    width: 150px;
    height: 40px;
    background-color: cornflowerblue;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: monospace;
    border-radius: 8px;
    margin-right: 5px;
}
.inputBusca{
    width: 200px;
    height: 35px;
    border: 1px solid black;
    border-radius: 8px;
    outline: 0;
}
.campoCadastro{
    width: 150px;
    height: 40px;
    background-color: cornflowerblue;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: monospace;
    border-radius: 8px;
}
.campoVoltar{
    width: 150px;
    height: 40px;
    background-color: cornflowerblue;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: monospace;
    border-radius: 8px;
}

.buttonEditar{
    width: 100px;
    height: 25px;
    background-color: cornflowerblue;
    border: none;
    display: inline-block;
    font-size: 16px;
    font-family: monospace;
    border-radius: 8px;
}
.buttonExcluir{
    width: 100px;
    height: 25px;
    background-color: cornflowerblue;
    border: none;
    display: inline-block;
    font-size: 16px;
    font-family: monospace;
    border-radius: 8px;
}

.campoVoltarPosicao{
    display: inline-block; 
    text-align: center; 
    width: 100%;
}

th{
    font-family: monospace;
    color: black; 
    font-size: 20px;
    background-color: cornflowerblue;
    
}
td{
    font-family: monospace;
    color: black;
    font-size: 15px;
    text-align: center;
}

tr:nth-child(odd){
    background-color: gainsboro;
}

table{
    width: 100%
}

